<!-- index.ejs -->
<html>
  <head>
    <title>This is the Form Page</title>
  </head>
  <body>
    <h1>This is the Form Page</h1>
    <form method="POST" action="/new">
      <label>Name: <input type="text" name="username" /> </label>
      <label>Message: <input type="text" name="text" /></label>
      <button type="submit">Send yo Message</button>
    </form>
  </body>
</html>
