<!-- index.ejs -->
<html>
  <head>
    <title>This is the Index Page</title>
  </head>
  <body>
    <h1>This is the Index Page</h1>
    <p><a href="/new">New Message</a></p>
    <ul>
      <p>Current Messages:</p>
      <% messages.forEach((msg) => { %>
      <li>User: <%= msg.user %></li>
      <li>Text: <%= msg.text %></li>
      <li>Date: <%= msg.date %></li>
      <a href="/singlemsg?user=<%= msg.user %>">See message</a>
      <li>-------</li>
      <% }); %>
    </ul>
  </body>
</html>
