<html>
  <head>
    <title>This is a single message</title>
  </head>
  <body>
    <h1>This is a single message</h1>
    <ul>
      <li><%= msg.user %></li>
      <li><%= msg.text %></li>
      <li><%= msg.date %></li>
    </ul>
  </body>
</html>
